.section2 {
  &__section {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    width: 100%;
    img {
      width: 60%;
    }
    .section2__list {
      width: 30%;
      align-self: center;
    }
    @media only screen and (max-width: 825px) {
      justify-content: center;
      height: 33rem;
    }
  }

  // List
  &__list {
    margin-top: 4.2rem;
    list-style: none;
    width: 90%;
    @media only screen and (max-width: 825px) {
      display: none;
    }
  }
  &__item {
    font-family: AmazonEmberLT;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 1.14;
    color: var(--secondary);
    display: flex;
    margin-bottom: 2rem;
    img {
      width: 3rem;
      height: 3rem;
      margin-right: 1.8rem;
      align-self: auto;
      display: block;
    }
  }

  // Img
  &__img{
    width: 70rem;
    height: 48.4rem;
    // transform: translate(0%, -50%);
    // margin-top: 50%;

    @media only screen and (max-width: 1275px) {
      width: 100%;
      height: 50%;
    }
    @media only screen and (max-width: 825px){
      margin-top: 0;
      // width: 60%;
      transform: translate(0%, -0%);
    }
  }
}
